<main>
  <div>
    <div class="p-grid p-fluid ">
      <div class="p-col-12 p-md-6 p-lg-3">
        <p-card styleClass="title">
          <p>Cidade</p>
        </p-card>
      </div>
      <div class="p-col-12 p-md-6 p-lg-3">
        <p-card>
          <p>Temperadura</p>
        </p-card>
      </div>
      <div class="p-col-12 p-md-6 p-lg-3">
        <p-card>
          <p>
            Horas
          </p>
        </p-card>
      </div>
      <div class="p-col-12 p-md-6 p-lg-3">
        <p-card>
          <p>teste </p>

        </p-card>
      </div>
    </div>
  </div>
</main>
