<div class="title">
  <img [src]="logo" alt="logo">
</div>
<p-sidebar  [(visible)]="visibleSidebar1" [baseZIndex]="10000">
  <h3>Menu de Noticias</h3>
  <button [routerLink]="['/']" routerLinkActive="router-link-active"
   pButton pRipple type="button" label="Covid" class="p-button-text inativos"></button>

   <button [routerLink]="['/noticia-previsao']" routerLinkActive="router-link-active"  pButton pRipple
    type="button" label="Previsão" class="p-button-text inativos"></button>
</p-sidebar>
<button pButton pRipple type="button" (click)="visibleSidebar1 = true" class="p-button-text">
  <i class="teste pi pi-bars" style="font-size: 2rem"></i>
</button>

